Repository SUI-Components/sui-components, pull requests merged in 2025-08, with the labels that each got.

#2920 A11y dropdown list in molecule autosuggest
  components/molecule/autosuggest/demo/index.js
  components/molecule/autosuggest/src/components/MultipleSelection/index.js
  components/molecule/autosuggest/src/components/SingleSelection/index.js
  components/molecule/autosuggest/src/index.js
  components/molecule/autosuggest/test/index.test.js
  components/molecule/autosuggestField/test/index.test.js
  components/molecule/dropdownList/src/index.js
  components/molecule/dropdownList/test/index.test.js
  package-lock.json
Labels: component, molecule, autosuggest, autosuggestField, dropdownList, a11y

#2924 feat(components/molecule/dropdownOption): update aria attributes for accessibility
  components/molecule/dropdownOption/src/index.js
Labels: a11y

#2927 feat(components/molecule/buttonGroup): split props between own and child
  components/molecule/buttonGroup/src/index.js
  components/molecule/buttonGroup/src/settings.js
  components/molecule/buttonGroup/test/index.test.js
Labels: component, molecule, buttonGroup
