Repository SUI-Components/sui-components, pull requests merged in 2025-02, with the labels that each got.

#2828 fix(components/atom/input): full width
  components/atom/input/src/Container/index.scss
Labels: bug, component, atom, input, a11y

#2829 fix full width
  components/atom/input/src/Input/Wrappers/Addons/index.scss
Labels: bug, component, atom, input, a11y

#2830 feat(components/atom/icon): icon a11y
  components/atom/icon/demo/articles/ArticleA11y.js
  components/atom/icon/demo/articles/ArticleColorInheritance.js
  components/atom/icon/demo/articles/ArticleColorsAndSizes.js
  components/atom/icon/demo/articles/ArticleLazy.js
  components/atom/icon/demo/articles/ArticlePolymorphic.js
  components/atom/icon/demo/articles/ArticleSpan.js
  components/atom/icon/demo/index.js
  components/atom/icon/demo/settings.js
  components/atom/icon/src/index.js
  components/atom/icon/test/index.test.js
Labels: component, atom, icon, a11y

#2832 feat(components/atom/badge): a11y
  components/atom/badge/demo/ArticleA11y.js
  components/atom/badge/demo/ArticleDarkMode.js
  components/atom/badge/demo/ArticleIsFitted.js
  components/atom/badge/demo/ArticleType.js
  components/atom/badge/demo/index.js
  components/atom/badge/package.json
  components/atom/badge/src/config.js
  components/atom/badge/src/index.js
  components/atom/badge/src/styles/index.scss
  components/atom/badge/test/index.test.js
  components/molecule/coachmark/demo/index.scss
  components/molecule/coachmark/demo/package.json
  components/molecule/coachmark/package.json
  components/molecule/coachmark/src/index.scss
  package-lock.json
Labels: component, atom, badge, molecule, coachmark, a11y

#2834 feat(components/primitive/linkBox): add new component
  components/primitive/injector/demo/article/ArticleClassName.js
  components/primitive/injector/demo/article/ArticleDefault.js
  components/primitive/injector/demo/article/ArticleFragment.js
  components/primitive/injector/demo/article/ArticleHandlers.js
  components/primitive/injector/demo/article/ArticleProps.js
  components/primitive/injector/demo/article/ArticleProviso.js
  components/primitive/injector/demo/article/ArticleStyles.js
  components/primitive/linkBox/.gitignore
  components/primitive/linkBox/.npmignore
  components/primitive/linkBox/README.md
  components/primitive/linkBox/demo/article/ArticleA11y.js
  components/primitive/linkBox/demo/article/ArticleDefault.js
  components/primitive/linkBox/demo/article/ArticleNesting.js
  components/primitive/linkBox/demo/config.js
  components/primitive/linkBox/demo/index.js
  components/primitive/linkBox/demo/index.scss
  components/primitive/linkBox/demo/package.json
  components/primitive/linkBox/package.json
  components/primitive/linkBox/src/PrimitiveLinkBoxLink.js
  components/primitive/linkBox/src/PrimitiveLinkBoxRaised.js
  components/primitive/linkBox/src/index.js
  components/primitive/linkBox/src/index.scss
  components/primitive/linkBox/src/settings.js
  components/primitive/linkBox/src/styles/index.scss
  components/primitive/linkBox/src/styles/settings.scss
  components/primitive/linkBox/test/index.test.js
  package-lock.json
Labels: primitive, a11y, linkbox
