Repository SUI-Components/sui-components, pull requests merged in 2025-03, with the labels that each got.

#2838 fix(components/atom/checkbox): add a11y defs
  components/atom/checkbox/demo/articles/ArticleA11y.js
  components/atom/checkbox/demo/articles/ArticleCustomIcons.js
  components/atom/checkbox/demo/articles/ArticleDefault.js
  components/atom/checkbox/demo/articles/ArticleDisabled.js
  components/atom/checkbox/demo/articles/ArticlePlayground.js
  components/atom/checkbox/demo/articles/ArticleSizes.js
  components/atom/checkbox/demo/articles/ArticleStatus.js
  components/atom/checkbox/demo/articles/ArticleValues.js
  components/atom/checkbox/demo/index.js
  components/atom/checkbox/demo/index.scss
  components/atom/checkbox/demo/package.json
  components/atom/checkbox/src/CheckboxIcon.js
  components/atom/checkbox/src/config.js
  components/atom/checkbox/src/index.js
  components/atom/checkbox/test/index.test.js
  package-lock.json
Labels: component, atom, checkbox, a11y

#2839 Button group shape
  components/molecule/buttonGroup/README.md
  components/molecule/buttonGroup/demo/articles/ArticleShape.js
  components/molecule/buttonGroup/demo/index.js
  components/molecule/buttonGroup/src/config.js
  components/molecule/buttonGroup/src/index.js
  components/molecule/buttonGroup/src/styles/index.scss
  components/molecule/buttonGroup/test/index.test.js
Labels: component, atom, button, molecule, buttonGroup

#2840 molecule/checkboxField a11y
  components/atom/helpText/src/styles/settings.scss
  components/atom/label/src/styles/settings.scss
  components/molecule/checkboxField/demo/ArticleA11y.js
  components/molecule/checkboxField/demo/ArticleWithCustomCheckedIcon.js
  components/molecule/checkboxField/demo/ArticleWithLabelFullWidth.js
  components/molecule/checkboxField/demo/index.js
  components/molecule/checkboxField/src/index.js
  components/molecule/checkboxField/test/index.test.js
  package-lock.json
Labels: atom, helpText, label, molecule, checkboxField, field, a11y

#2841 fix(components/molecule/checkboxField): build method warning
  components/molecule/checkboxField/package.json
  components/molecule/checkboxField/src/index.js
  components/molecule/checkboxField/src/settings.js
  package-lock.json
Labels: component, molecule, checkboxField, a11y

#2842 feat(components/atom/button): Allow button to have first and last with shape and size
  components/atom/button/demo/articles/ArticleIsFitted.js
  components/atom/button/src/styles/index.scss
Labels: component, button, buttonGroup

#2845 feat(components/atom/input): lint
  components/atom/input/src/Password/index.js
  package-lock.json
Labels: component, atom, input

#2846 feat(components/molecule/notification): added aria attributes to icon
  components/molecule/notification/package.json
  components/molecule/notification/src/index.js
  package-lock.json
Labels: component, molecule, notification, a11y

#2848 feat(components/atom/upload): Change heading by paragraph
  components/atom/upload/src/index.js
Labels: component, atom, upload, a11y
