Repository SUI-Components/sui-components, pull requests merged in 2025-06, with the labels that each got.

#2898 feat(components/atom/image): a11y
  components/atom/image/demo/ConnectionViewer.js
  components/atom/image/demo/article/ArticleA11y.js
  components/atom/image/demo/article/ArticleDefault.js
  components/atom/image/demo/article/ArticleFallbackImage.js
  components/atom/image/demo/article/ArticleLazyImage.js
  components/atom/image/demo/article/ArticleLcpImage.js
  components/atom/image/demo/article/ArticlePlaceHolder.js
  components/atom/image/demo/article/ArticleSkeleton.js
  components/atom/image/demo/article/ArticleSpinner.js
  components/atom/image/demo/article/ArticleViewport.js
  components/atom/image/demo/index.js
  components/atom/image/package.json
  components/atom/image/src/index.js
  components/atom/image/test/index.test.js
  package-lock.json
Labels: component, atom, image, a11y

#2899 feat(components/atom/input): border radius aligmnet between components
  components/atom/input/src/Container/index.scss
  components/atom/input/src/Input/Component/settings.scss
  components/atom/textarea/src/styles/index.scss
  components/atom/textarea/src/styles/settings.scss
  components/molecule/select/src/styles/index.scss
  components/molecule/select/src/styles/settings.scss
  components/molecule/selectPopover/demo/Icons/index.js
  components/molecule/selectPopover/demo/index.js
  components/molecule/selectPopover/demo/index.scss
  components/molecule/selectPopover/demo/package.json
  components/molecule/selectPopover/src/components/SelectIcon.js
  package-lock.json
Labels: component, atom, input, textarea, molecule, select, selectPopover, a11y

#2900 feat(components/atom/helpText): a11y features
  components/atom/helpText/demo/articles/ArticleA11y.js
  components/atom/helpText/demo/articles/ArticleCheckbox.js
  components/atom/helpText/demo/index.js
  components/atom/helpText/demo/index.scss
  components/atom/helpText/demo/package.json
  components/atom/helpText/src/index.js
  components/atom/helpText/test/index.test.js
  package-lock.json
Labels: component, atom, helpText, a11y

#2904 fix(components/molecule/photoUploader): Pass external props on rotate action
  components/molecule/photoUploader/src/PhotosPreview/index.js
  package-lock.json
Labels: bug, component, molecule, photoUploader

#2905 fix(components/molecule/photoUploader): Migrate isButton prop to type=button
  components/molecule/photoUploader/src/EmptyView/index.js
Labels: molecule, photoUploader
