Repository SUI-Components/sui-components, pull requests merged in 2025-05, with the labels that each got.

#2860 feat(components/molecule/breadcrumb): remove redundant role attribute…
  components/molecule/breadcrumb/src/index.js
Labels: molecule, breadcrumb, a11y

#2864 Feature/atom card conditional role button
  components/atom/card/src/index.js
  components/atom/card/test/index.test.js
Labels: component, atom, card, a11y

#2866 feat(molecule/accordion): Update aria attributes
  components/molecule/accordion/src/AccordionItem.js
  components/molecule/accordion/src/AccordionItemHeader.js
  components/molecule/accordion/src/AccordionItemPanel.js
  components/molecule/accordion/test/index.test.js
Labels: component, accordion, molecule, a11y

#2865 Feature/a11y aria described by help text
  components/atom/helpText/src/index.js
  components/molecule/field/src/index.js
  components/molecule/select/src/components/SingleSelection.js
  components/molecule/select/src/index.js
Labels: a11y

#2869 Feat add new type input
  components/atom/input/demo/articles/ArticleType.js
  components/atom/input/src/config.js
  components/atom/input/test/index.test.js
Labels: a11y

#2871 Feature/a11y aria described by validation text
  components/atom/validationText/src/index.js
  components/molecule/field/src/index.js
Labels: a11y

#2874 feat(molecule/tabs): improve accessibility with keyboard navigation and aria attributes
  components/molecule/tabs/src/_settings.scss
  components/molecule/tabs/src/components/MoleculeTab.js
  components/molecule/tabs/src/components/MoleculeTabs.js
  components/molecule/tabs/src/styles/index.scss
Labels: component, molecule, tabs, a11y

#2879 feat(components/primitive/linkBox): add forwardRef
  components/primitive/linkBox/src/PrimitiveLinkBoxLink.js
  components/primitive/linkBox/src/PrimitiveLinkBoxRaised.js
  package-lock.json
Labels: component, primitive, a11y, linkbox

#2877 feat(components/molecule/carousel): add arrowLabels props
  components/molecule/carousel/src/CarouselContainer.js
  components/molecule/carousel/src/index.js
Labels: a11y

#2882 fix(components/molecule/accordion): Remove aria-expanded attr
  components/molecule/accordion/src/AccordionItemPanel.js
  components/molecule/accordion/src/styles/index.scss
  components/molecule/accordion/test/index.test.js
Labels: component, accordion, molecule, a11y

#2885 Feature/atom card a11y improvement
  components/atom/card/src/index.js
  components/atom/card/src/styles/index.scss
Labels: component, atom, card, a11y

#2889 Feat modify pagination to accessibility
  components/molecule/pagination/README.md
  components/molecule/pagination/demo/DynamicMoleculePagination/index.js
  components/molecule/pagination/demo/index.js
  components/molecule/pagination/src/index.js
Labels: a11y

#2891 feat(components/atom/icon): add shapes to the icon
  components/atom/icon/demo/articles/ArticleShapesAndSizes.js
  components/atom/icon/demo/index.js
  components/atom/icon/src/index.js
  components/atom/icon/src/settings.js
  components/atom/icon/src/styles/index.scss
  components/atom/icon/src/styles/settings.scss
  components/atom/icon/test/index.test.js
  package-lock.json
Labels: enhancement, component, atom, icon, a11y

#2895 Fix/atom button as priority improvement
  components/atom/button/src/config.js
  components/molecule/selectPopover/src/components/SelectIcon.js
  components/molecule/selectPopover/test/index.test.js
Labels: component, atom, button, molecule, selectPopover, a11y

#2896 Feature/rest molecule select button styles
  components/molecule/selectPopover/src/styles/index.scss
  components/molecule/selectPopover/src/styles/settings.scss
Labels: component, molecule, selectPopover
